{% if data is not empty %}
<div class="widget-inner">
    <div class="h3">
        {{ data.order.id }}
    </div>
    <div>{{ keepoalaID }}</div>
    <img src="{{ plugin_path("KeepoalaWidget2") }}/images/drawing.svg" width="200px">
</div>
{% endif %}