{% if data is not empty %}
<div class="widget-inner">
    <div class="h3">
        {{ data.order.id }}
    </div>
    <div>{{ keepoalaID }}</div>
    <img src="{{ plugin_path("Keepoala2") }}/images/logo1.png" width="200px">
</div>
{% endif %}