{% if data is not empty %}
<div class="widget-outer" style="
    display:flex;
    justify-content: center;
	  background-image:url('{{ plugin_path("KeepoalaWidget2") }}/images/DSC08320-scaled.jpg');
	  background-size: cover;
	  background-repeat: no-repeat;
	  background-position: center;
    width:100%">
	<div class="widget-inner" style="
	  height: 100%;
	  display: table-cell;
	  ">
	   	<div style="background: #ffffff;
	box-shadow: 0px 6px 20px rgba(100,100,100,0.5);
	    margin: 2em;
	    padding: 15px;text-align:center;">
	    {{widget.settings.linktext.mobile}} und erhalte wertvolle <a target="_new" href="https://www.keepoala.com/fuer-keeper/">Keepoala</a> Punkte.
   		</div>
	</div>
</div>
<!-- Spacer -->
<div style="height:20px;width:100%"></div>
{% endif %}